<header>
	<!-- Header Start -->
	<div class="header-area header-transparent">
		<div class="main-header header-sticky">
			<div class="container-fluid">
				<div
					class="menu-wrapper d-flex align-items-center justify-content-between">
					<!-- Logo -->
					<div class="logo">
						<a href="{{path ('home')}}"><img src="{{asset ('img/logo/logo.png')}}" alt=""></a>
					</div>
					<!-- Main-menu -->
					<div class="main-menu f-right d-none d-lg-block">
						<nav>
							<ul id="navigation">
								<li>
									<a href="{{path ('home')}}">Accueil</a>
								</li>
								{% if is_granted('ROLE_ADMIN') %}
									<li>
										<a href="{{path ('admin')}}">Admin</a>
									</li>
								{% endif %}


								<li>
									<a href="{{path ('app_muscle_index')}}">Muscles</a>
									<ul class="submenu">
										{% for category in allCategories %}
											<li>
												<a href="{{path ('category', {slug : category.slug})}}">{{category.name}}</a>
											</li>
										{% endfor %}

									</ul>

								</li>
								<li>
									<a href="{{path ('exercice')}}">Exercices</a>
								</li>

							</ul>
						</nav>
					</div>
					<!-- Header-btn -->
					<div class="header-btns d-none d-lg-block f-right">

						{% if is_granted('ROLE_USER') %}

							<a href="{{path ('favory')}}" class="btn">
								<i class="fa fa-heart"></i>
							</a>

							<a href="{{path ('logout')}}" class="btn">Déconnexion</a>

						{% else %}
							<a href="{{path ('signup')}}" class="btn mr-4">Inscription</a>
							<a href="{{path ('login')}}" class="btn">Connexion</a>

						{% endif %}


					</div>


					<!-- Mobile Menu -->
					<div class="col-12">
						<div class="mobile_menu d-block d-lg-none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->
</header>
